body {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
}
code {
    background: #e6e6e6;
    color: black;
    padding: .2em;
}
pre {
    margin: 20px;
    background: #e6e6e6;
    overflow-x: auto;
    padding: .1em;
}
p {
    margin-left: 20px;
    margin-right: 20px;
}
h1, h2, h3 {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    background-color: black;
    color: white;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow:
            2px 2px 0 #000000,
            -2px -2px 0 #000000,
            4px 4px 0 rgba(0, 0, 0, 0.7),
            -4px 4px 0 rgb(66, 66, 66);
    box-shadow:
            0 0 0 4px black,
            0 0 20px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
}
h4, h5, h6 {
    padding: 0.3em;
    background-color: white;
    color: black;
    text-transform: uppercase;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f6f8fa;
}
.header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -51px;
    margin-top: -36px;
}